<header class="navbar">
  <nav class="navbar__container">
    <nav class="navbar__nav" role="navigation">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a class="navbar__link {{#if activePage.home}}navbar__link--active{{/if}}" href="/">HOME</a>
        </li>

        <li>
          <a id="open-modal" tabindex="0">POST PHOTO</a>
          <div id="modal" class="modal">
            <div class="modal-content">
              <span id="close-modal" class="close">&times;</span>
              <form method="post" action="/postphoto" id="photo-form">
                <label for="url-photo">URL</label>
                <input id="url-photo" name="url" required/></input>
                <label for="caption-photo">Caption</label>
                <input id="caption-photo" name="review" required/></input>
                <button type="submit" id="photo-btn">Publish</button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </nav>
</header>