 {{>head}}

<body>
  {{>header}}
  <main class='main'>
    {{{body}}}
  </main>

  <script src='/dom.js'></script> {{>footer}} {{#if active.home}}
  <script src='/home.js'></script> {{/if}} {{#if active.photo}}
  <script src='/photo.js'></script> {{/if}}

</body>


</html>